# Node
node_modules/
npm-debug.log
yarn-error.log
.expo/
web-build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3
